Labs/Lab12Client/ClientRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClientRequest" type="ClientRequestType"/>
  <xs:complexType name="ClientRequestType">
    <xs:sequence>
      <xs:element type="xs:string" name="message"/>
      <xs:element type="xs:string" name="request"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>