Labs/Lab12Server/ServerReply.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServerReply" type="ServerReplyType"/>
  <xs:complexType name="ServerReplyType">
    <xs:sequence>
      <xs:element type="xs:string" name="reply"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>